
/** used in Button **/
$buttonDark: #6a8391;
$buttonLight: #3f9fda;


/** Surfaces **/
$surfaceDark: #334657;
$surfaceLight: #e3e6e9;


/** Text **/
$textMain: #5e6e7c;
$textDark: #0e0e0e;
$textLight: #a3b1b2; 
$textWhite: #ffffff; 
